Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [83]:
import pandas

In [ ]:
df = pandas.read_csv("ratings.csv")

In [2]:
df[df["rating"].eq(5)].groupby("movieId").size().sort_values(ascending=False).head()

movieId
318    48762
296    37458
356    32009
260    31385
593    30280
dtype: int64

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [13]:
df = pandas.read_csv("power.csv")


df1 = df[(df["category"].isin([4,12,21])) & (df["country"].isin(["Latvia","Lithuania","Estonia"])) & (df["year"].between(2005,2010))& (df["quantity"]>=0)]
df1["quantity"].sum()

240580.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [84]:
df = pandas.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni')[1]
df

,Unnamed: 0,а баБаЛб,абаЕаДаЛаОаЖаЕаНаИаЕ,аЁаПбаОб,абаЕаДбаДббаЕаЕ аЗаАаКбббаИаЕ,%,ааБбаОаЛббаНаОаЕ аЗаНаАбаЕаНаИаЕ,абаЕаМб
0,NaN,GBP/RUB,1009188,-,1010269,"-0,11 %",-01081,09:44:00
1,NaN,EUR/RUB,919276,-,920540,"-0,14 %",-01264,09:50:00
2,NaN,USD/RUB,782125,-,784553,"-0,31 %",-02428,09:50:00
3,NaN,JPY/RUB,07397,-,07427,"-0,41 %",-00031,09:43:00
4,NaN,CNY/RUB,115176,-,115537,"-0,31 %",-00361,09:43:00
5,NaN,CHF/RUB,852648,-,854540,"-0,22 %",-01892,09:43:00
6,NaN,ааВбаО,абаЕаДаЛаОаЖаЕаНаИаЕ,аЁаПбаОб,абаЕаДбаДббаЕаЕ аЗаАаКбббаИаЕ,%,ааБбаОаЛббаНаОаЕ аЗаНаАбаЕаНаИаЕ,абаЕаМб
7,NaN,EUR/USD,11752,-,11733,"0,16 %",00019,09:50:00
8,NaN,EUR/GBP,09110,-,09115,"-0,05 %",-00005,09:50:00
9,NaN,EUR/JPY,1242550,-,1239500,"0,25 %",03050,09:50:00
10,NaN,EUR/CHF,10781,-,10772,"0,08 %",00009,09:50:00
11,NaN,ааОаЛаЛаАб аЁаЈа,абаЕаДаЛаОаЖаЕаНаИаЕ,аЁаПбаОб,абаЕаДбаДббаЕаЕ аЗаАаКбббаИаЕ,%,ааБбаОаЛббаНаОаЕ аЗаНаАбаЕаНаИаЕ,абаЕаМб
12,NaN,USD/EUR,08509,-,08523,"-0,16 %",-00014,09:43:00
13,NaN,USD/GBP,07750,-,07766,"-0,21 %",-00016,09:43:00
14,NaN,USD/JPY,1057440,-,1056360,"0,10 %",01080,09:50:00
15,NaN,USD/CHF,09172,-,09179,"-0,07 %",-00007,09:50:00
16,NaN,аЏаПаОаНбаКаАб аИаЕаНаА,абаЕаДаЛаОаЖаЕаНаИаЕ,аЁаПбаОб,абаЕаДбаДббаЕаЕ аЗаАаКбббаИаЕ,%,ааБбаОаЛббаНаОаЕ аЗаНаАбаЕаНаИаЕ,абаЕаМб
17,NaN,JPY/EUR (100:1),08000,-,08100,"-0,28 %",00000,09:43:00
18,NaN,JPY/GBP,00073,-,00074,"-0,31 %",00000,09:43:00
19,NaN,JPY/USD,00095,-,00095,"-0,10 %",00000,09:43:00
20,NaN,JPY/CHF (100:1),08700,-,08700,"-0,20 %",00000,09:50:00
21,NaN,аЄбаНб ббаЕбаЛаИаНаГаОаВ,абаЕаДаЛаОаЖаЕаНаИаЕ,аЁаПбаОб,абаЕаДбаДббаЕаЕ аЗаАаКбббаИаЕ,%,ааБбаОаЛббаНаОаЕ аЗаНаАбаЕаНаИаЕ,абаЕаМб
22,NaN,GBP/USD,12899,-,12877,"0,17 %",00022,09:50:00
23,NaN,GBP/JPY,1364428,-,1360249,"0,31 %",04179,09:44:00
24,NaN,GBP/EUR,10977,-,10976,"0,01 %",00001,09:50:00
25,NaN,GBP/CHF,11831,-,11820,"0,10 %",00011,09:50:00
26,NaN,аЈаВаЕаЙбаАббаКаИаЙ ббаАаНаК,абаЕаДаЛаОаЖаЕаНаИаЕ,аЁаПбаОб,абаЕаДбаДббаЕаЕ аЗаАаКбббаИаЕ,%,ааБбаОаЛббаНаОаЕ аЗаНаАбаЕаНаИаЕ,абаЕаМб
27,NaN,GBP/CHF,11831,-,11820,"0,10 %",00011,09:50:00
28,NaN,EUR/CHF,10781,-,10772,"0,08 %",00009,09:50:00
29,NaN,JPY/CHF (100:1),08700,-,08700,"-0,20 %",00000,09:50:00
30,NaN,USD/CHF,09172,-,09179,"-0,07 %",-00007,09:50:00
31,NaN,аЃаКбаАаИаНбаКаАб аГбаИаВаНаА,абаЕаДаЛаОаЖаЕаНаИаЕ,аЁаПбаОб,абаЕаДбаДббаЕаЕ аЗаАаКбббаИаЕ,%,ааБбаОаЛббаНаОаЕ аЗаНаАбаЕаНаИаЕ,абаЕаМб
32,NaN,EUR/UAH,333301,-,332762,"0,16 %",00539,09:43:00
33,NaN,USD/UAH,283600,-,283600,"0,00 %",00000,09:41:00
34,NaN,CHF/UAH,309168,-,308899,"0,09 %",00269,09:43:00
35,NaN,GBP/UAH,365929,-,365192,"0,20 %",00737,09:44:00

Задание 4
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [12]:
import numpy
df = pandas.read_csv("ratings.csv")
conditions = [
    (df['rating'] <= 2),
    (df['rating'] > 2) & (df['rating'] < 4.5),
    (df['rating'] >= 4.5)
    ]

# create a list of the values we want to assign for each condition
values = ['low_tier','mid_tier', 'high_tier']
df["tier"] = numpy.select(conditions,values)
df

          userId  movieId  rating   timestamp       tier
0              1      307     3.5  1256677221   mid_tier
1              1      481     3.5  1256677456   mid_tier
2              1     1091     1.5  1256677471   low_tier
3              1     1257     4.5  1256677460  high_tier
4              1     1449     4.5  1256677264  high_tier
...          ...      ...     ...         ...        ...
27753439  283228     8542     4.5  1379882795  high_tier
27753440  283228     8712     4.5  1379882751  high_tier
27753441  283228    34405     4.5  1379882889  high_tier
27753442  283228    44761     4.5  1354159524  high_tier
27753443  283228    54286     4.5  1354159718  high_tier

[27753444 rows x 5 columns]

Задание 5
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [7]:
import numpy
import pandas
df = pandas.read_csv("keywords.csv")
geo_data = { 'Центр': ['москва', 'тула', 'ярославль'], 
            'Северо-Запад': ['петербург', 'псков', 'мурманск'], 
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }
conditions = [
    ('москва' in df['keyword'] or 'тула' in df['keyword']or 'ярославль' in df['keyword']),
    ('петербург' in df['keyword'] or 'псков' in df['keyword']or 'мурманск' in df['keyword']),
    ('владивосток' in df['keyword'] or 'сахалин' in df['keyword']or 'хабаровск' in df['keyword'])
    
    ]

# create

values = ['Центр','Северо-Запад', 'Дальний Восток']

df["geo"] = numpy.select(conditions,values,"undefined")

Задание 6
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [1]:
import pandas
mov = pandas.read_csv('movies.csv')
rat = pandas.read_csv('ratings.csv')

merged_db = rat.merge(mov, how='left')

rating = merged_db.groupby('title').mean().reset_index()[['title', 'rating']]

rating.head()

                              title    rating
0  "Great Performances" Cats (1998)  2.815556
1        #1 Cheerleader Camp (2010)  2.777778
2                  #Captured (2017)  2.500000
3                    #Horror (2015)  2.078947
4                 #SCREAMERS (2016)  2.500000

In [94]:
years = [str(i) for i in range(1950,2010)]
def movie_year(row):
    for year in years:
        if year in row['title']:
            return year
    return '1900'

In [99]:
rating['year'] = rating.apply(movie_year, axis=1)
rating.head(10)

                                               title    rating  year
0                   "Great Performances" Cats (1998)  2.815556  1998
1                         #1 Cheerleader Camp (2010)  2.777778  1900
2                                   #Captured (2017)  2.500000  1900
3                                     #Horror (2015)  2.078947  1900
4                                  #SCREAMERS (2016)  2.500000  1900
5  #chicagoGirl: The Social Network Takes on a Di...  3.000000  1900
6                                #realityhigh (2017)  3.361111  1900
7                                 $ (Dollars) (1971)  2.781250  1971
8                         $1,000 on the Black (1966)  3.333333  1966
9                          $100,000 for Ringo (1965)  2.500000  1965

In [100]:
rating.sort_values('rating', ascending=False).head(25)

                                                   title  rating  year
50501                              VHS Revolution (2017)     5.0  1900
51532                            We Are Mountains (1969)     5.0  1969
13333               Dragon Lee Vs. The 5 Brothers (1978)     5.0  1978
26316                              Living on Love (1937)     5.0  1900
8644                              Change of Plans (2011)     5.0  1900
48716                              To Be the Best (1993)     5.0  1993
25231                                 Last Sunset (2006)     5.0  2006
48686                         Tischlein deck dich (2008)     5.0  2008
30243                         My Brother's Keeper (2014)     5.0  1900
43736                       The Company of Heroes (2004)     5.0  2004
40975                               Still Burning (2016)     5.0  1900
32138                      Oleg and the Rare Arts (2016)     5.0  1900
16646                                  Free Jimmy (2006)     5.0  2006
16632    Fred Rogers: America's Favorite Neighbor (2004)     5.0  2004
37766                                 Say Nothing (2001)     5.0  2001
2411                                 Allerleirauh (2012)     5.0  1900
13505                            Drunken Master 3 (1994)     5.0  1994
5596                                    Bidder 70 (2013)     5.0  1900
1429                             Ab-normal Beauty (2004)     5.0  2004
37523                                          Sanctuary     5.0  1900
2484        Alonzo Bodden: Historically Incorrect (2016)     5.0  1900
37489  Samson and the Seven Miracles of the World (1961)     5.0  1961
45446                  The Laws of Thermodynamics (2018)     5.0  1900
11466                                        Days (1963)     5.0  1963
11454                                       Day-O (1992)     5.0  1992